!!! 5
%html(lang="en")
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %meta{ :name => 'author', :content => 'Jonathan Lai' }
    %meta{ :name => 'description', :content => 'Jonathan Lai\'s personal portfolio and blog. Web developer, gadget geek, writer of code' }
    %meta{ :name => 'keywords', :content => 'Jonathan Lai, Web Development, Ruby, Ruby on Rails, CSS, JavaScript, Code' }

    %title= data.page.title || "Jonathan Lai"

    = stylesheet_link_tag "site"
    = yield_content :head

  %body{ :class => page_classes }
    = yield_content :nav
    #container.container
      = yield

    = partial "partials/footer"

    = disqus