- content_for :nav do
  %nav.navbar.navbar-inverse{role: "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{ :href => site_url } Jonathan Lai
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          - data.nav.main.each do |item|
            - target = item.target if item.has_key? 'target'
            %li
              %a{ :href => "#{item.href}", :target => "#{target}"}= item.text

- wrap_layout :layout do
  %article
    %h1= current_article.title
    = yield

    .meta
      .post-date
        %h5
          Posted On:
        - plain_date = current_article.date.strftime('%Y-%m-d')
        %time{ :datetime => "#{plain_date}" }= current_article.date.strftime('%B %e, %Y')

      - if current_article.tags.length > 0
        .tags
          %h5 Tagged:
          %ul

            /= current_page.tags.map { |tag| link_to tag, tag_path(tag) }.join(', ')
            /%p

            = current_page.tags.map { |tag| link_to tag, site_url + "blog/tags/" + tag.downcase }.join(', ')
    .other

    %p &#32;

    #disqus_thread
    :javascript
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'agsdotgithubthoughts'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    %noscript
      Please enable JavaScript to view the
      %a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus.
    %a.dsq-brlink{href: "http://disqus.com"}
      comments powered by
      %span.logo-disqus Disqus