---
title: "Jonathan Lai"
name: "index"
pageable: true
per_page: 4
---

%header
  %a.avatar{ :href => site_url } Jonathan Lai
  %h2
    %a{ :href => site_url } Jonathan Lai

  %ul
    - data.nav.main.each do |item|
      - target = item.target if item.has_key? 'target'
      %li
        %a{ :href => "#{item.href}", :target => "#{target}" }= item.text

#feed
  %h3 Posts
  - if paginate
    - if prev_page
      %p
        Page #{page_number} of #{num_pages}
      %p= link_to 'Previous page', prev_page

  %ul
    - page_articles.each_with_index do |article, i|
      - date = article.date.strftime('%B %e, %Y')
      - plain_date = article.date.strftime('%Y-%m-%d')

      %li
        %h3= link_to article.title, article
        %p
          - if article.data.summary
            = article.data.summary
            %a{ :href => "#{article.url.sub(/^\//,'')}" } &#8594;
        %time{ :datetime => "#{plain_date}" }= date








  - if paginate
    - if next_page
      %p= link_to 'Next page', next_page

